/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; min-width: fit-content;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.top-news__title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 25px;
    margin: 0;
    @media (max-width: 599px) {
        font-size: 25px;
    }
    @media (max-width: 399px) {
        font-size: 20px;
    }
}

.cursor-pointer {
    cursor: pointer;
}