<div class="news-container__grid">
  <mat-card *ngFor="let item of newsList" class="news-container__grid-card">
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
    </mat-card-header>
    <img class="news-container__grid-card__image" mat-card-image [src]="item.urlToImage" (error)="onImgError($event)">
    <mat-card-content>
      <p>
        {{ item.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a color="primary" mat-raised-button (click)="openNewsDetails(item)">Show More...</a>
    </mat-card-actions>
  </mat-card>
</div>