
.news-container__grid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    justify-content: center;
}

.news-container__grid-card {
    max-width: 400px;
    margin: 10px;
}

.news-container__grid-card__top5 {
    max-width: 285px;
    margin: 10px;
}

.news-container__grid-card__image {
    max-height: 255px;
    object-fit: cover;
}
