mat-toolbar-row {
    padding: 0;
}

.toolbar__links-container {
    margin-left: 10px;
}

.toolbar__link {
    text-decoration: none;
    font-size: 15px;
    margin: 0;
    padding: 0 5px;
    @media (min-width: 599px) {
        padding: 10px;
        color: white;
        font-size: 20px;
    }
}

.toolbar__link__active {
    background: cornflowerblue;
    border-radius: 5px;
    margin: 0;
    padding: 0 5px;
    @media (min-width: 600px) {
        padding: 5px;
    }
}

.toolbar__language-paragraph {
    display: none;
    @media (min-width: 600px) {
        display: inherit;
        font-weight: 100;
        font-size: 15px;
    }
}

.toolbar__link-language {
    opacity: 0.5;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 0;
    @media (max-width: 599px) {
        font-size: 15px;
    }
}

.space-line {
    border-right: 1px solid white;
    line-height: 10px;
}

.toolbar__link-language__active {
    opacity: 1;
}

.toolbar__container {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-full {
    flex: 1
}

.flex-align-center {
    align-items: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.toolbar__menu-button  {
    background: transparent;
    border: none;
}
.toolbar__menu-button:focus {
    outline: none;
}

.toolbar__menu-icon {
    color: white;
}

.sidenav-container {
    height: calc(100% - 56px);
}

.sidenav-container__link-list {
    display: flex;
    flex-direction: column;
}

.sidenav-container__sidenav {
    min-width: 200px;
}