<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar__links-container">
      <a mat-button *ngFor="let link of links" [class.toolbar__link__active]="activeLink === link.path"
      (click)="activeLink = link.path" class="toolbar__link" [routerLink]="link.path">
      {{ link.name }}</a>    
    </div>
    <div class="flex-full flex flex-align-center flex-justify-end">
      <p class="toolbar__language-paragraph">Language: </p>
      <a *ngFor="let language of countries; let index = index" class="toolbar__link-language cursor-pointer" (click)="changeLanguage(language)"
        [class.toolbar__link-language__active]="activeCountry === language"
        [class.space-line]="index === 0">{{ language | uppercase }}</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
