<div *ngIf="page === 'search'" class="search-container">
  <mat-form-field class="search-field">
    <input placeholder="Search here..." matInput [(ngModel)]="searchTerm"
     (ngModelChange)="filterNews($event)">
  </mat-form-field>
</div>
<div class="top-news-container">
  <h2 class="top-news__title">{{ title }}</h2>
  <ng-container *ngIf="topNews$ | async as topNews">
    <ng-container *ngIf="topNews.length; else noResults">
      <app-news-grid [openNewsDetailsHandler]="openNewsDetails.bind(this)" [newsList]="topNews"></app-news-grid>
    </ng-container>
  </ng-container>
</div>

<ng-template #noResults>
  <div>
    <p class="top-news__no-results">No results...</p>
  </div>
</ng-template>