
.search-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.search-field {
    width: 50vw;
}

.top-news__no-results {
    position: absolute;
    top: 30%;
    left: 47%;
    font-size: 20px;
}