<div>
  <h1 class="dialog-title">{{ newsDetails.title }}</h1>
  <div class="image-wrapper">
    <img [src]="newsDetails.urlToImage">
  </div>
  <p>
    {{ newsDetails.description }}
  </p>
</div>

<button class="dialog-close" color="primary" mat-raised-button (click)="closeDialog()">Close</button>