.dialog-title {
    @media (max-width: 599px) {
        font-size: 20px;
    }
}

.image-wrapper {
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }    
}

.dialog-close {
    float: right;
}