.category-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    justify-content: center;
    border-radius: 10px;
}

.category-item {
    max-width: 250px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
}

.image-wrapper {
    padding-top: 127px / 197px * 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

.category-holder {
    padding: 10px 20px;
}

.category-title h3::first-letter {
    text-transform: capitalize;
}

.category-item__title {
    height: 90px;
}

.image-wrapper {
    img {
        max-width: 100%;
    }
}

.category-list__more-button {
    font-size: 18px;
    padding: 0 8px;
}

.loading {
    left: 20px;
    position: absolute;
    top: 10%;
}