<div *ngIf="newsByCategory$ | async as news; else loading">
  <h1 class="top-news__title">Top 5 news from {{ country === 'gb' ? 'Great Britain' : 'United States' }} by categories:</h1>
  <mat-accordion>
    <div class="category-holder" *ngFor="let category of news">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="category-title">
            <h3>{{ category.category }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="category-list">
          <ng-container *ngFor="let item of category.articles; let index = index">
            <div class="category-item">
              <a class="cursor-pointer" (click)="openNewsDetails(item)">
                <h3 class="category-item__title">{{ item.title }}</h3>
                <div class="image-wrapper">
                  <img [src]="item.urlToImage" (error)="onImgError($event)">
                </div>
                <div>{{ item.description }}</div>
              </a>
            </div>
          </ng-container>
        </div>
        <a [routerLink]="['category', category.category]" class="category-list__more-button" mat-button color="primary">Show more...</a>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>

<ng-template #loading>
  <h3 class="loading">Loading...</h3>
</ng-template>
